<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Edit Comment</h4>
      </div>
      <div class="panel-body">
        <%= render 'form', comment: @comment %>
      </div>
    </div>
    <%= link_to 'Back', :back, class:'btn btn-default' %>
  </div>
</div>
