
<div class="row" style="text-align: center">  
  <h1 style="font-family: 'Abril Fatface', cursive;color:#173872">Belle By</h1>
  <h4>Showcase the beauty you create.</h4>
</div>

<br>

<div class="row">
  <%= render partial: 'posts/gallery', collection: Post.most_votes, as: :post %>
</div>
