<div class="col-sm-6 col-md-4 col-lg-3 gallery-image">
  <%= link_to post do %>
    <div class="panel panel-default" id="post-panel">
      <div class="panel-body">
        <%= image_tag post.picture, id:'post-index-image' %>
      </div>
      <div class="panel-footer" style="background: white;border: 0px;">
        <p>
          <%= link_to "By #{stylist(post)}", profile_path(post.stylist) %></h5>
          <span class="pull-right"><%= post.get_likes.size %>  <i class="fa fa-heart" aria-hidden="true" style="color:#E56399"></i></span>
        </p>
      </div>
    </div>
  <% end %>
</div>