<div class="col-sm-6 col-md-4 gallery-image">
  <%= link_to post do %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= image_tag post.picture, id:'post-index-image' %>
        <div>
          <h5><%= link_to "By #{post.user.profile.username}", profile_path(post.user.profile) %></h5>
          <h6><%= post.price %></h6>
        </div>
      </div>
    </div>
  <% end %>
</div>