<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body search-bar">
        <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class, style: 'color: #59C3C3;' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <%= render partial: 'posts/gallery', collection: @posts, as: :post %>

</div>