@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "custom";
@import "navbar";
@import "welcome";
@import "posts";
@import "tags";
@import "profiles";

@import url('https://fonts.googleapis.com/css?family=Emblema+One');
@import url('https://fonts.googleapis.com/css?family=Armata|Emblema+One');


body {
  font-family: 'Armata', sans-serif;
  padding-top: 70px;
  padding-bottom: 50px;
}

// #E56399
// #59C3C3
// #52489C
// #EBEBEB
// #122C34

.panel-default > .panel-heading {
  color: white;
  background-color: #59C3C3;
  text-align: center;
}