@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "custom";
@import "navbar";
@import "welcome";
@import "posts";
@import "tags";
@import "profiles";
@import "search";

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 70px;
  padding-bottom: 50px;
}

// #52489C
// #F61067
// #E56399
// #00F0B5
// #6DECAF
// #F4F4ED

.panel-default > .panel-heading {
  color: white;
  background-color: #59C3C3;
  text-align: center;
}

.fa-heart {
  color: #F61067;
}