// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#post-panel {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0px;
  color: #777;

  .panel-body {
    padding: 0px
  }

  .panel-footer {
    padding-top: 10px;
    p {
    font-weight: 700;
    }

  }

  .tag {
    text-align:right;
    color: #59C3C3;
    font-weight: 700;
  }

  h4 {
    display: inline;
  }

  h5 {
    float: right;
    margin: 0px;
    margin-top: 2px;
    display: inline;
    letter-spacing: 2px;
  }

  p {
    text-align: left;
    margin-top: 5px;
  }
}

#post-panel-image {
  width: 100%;
  height: 80%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px; 
}

#post-index-image {
  width: 100%;
  height: 250px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 2px 2px 0px 0px;
  border-radius: 2px 2px 0px 0px; 
}

.gallery-image {
  margin-bottom: 0px;
  h5 {
    display: inline;
    margin: 0px;
    margin-left: 20px;
  }
  h6 {
    display: inline;
    float:right;
    margin: 0px;
    margin-top: 3px;
    margin-right: 20px;
    letter-spacing: 1px;
  }
  .panel {
    box-shadow: 2px 2px 1px #e7e7e7;
  }
  .panel-body {
  padding: 0px
  }
}

.panel-footer {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}

.popover {
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 1px;
  text-align:center;
  width: 100px;
  background-color: #F61067;
  color: white;
  border:0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.1em;
  border-radius: 30px;

  .arrow {
    visibility:hidden;
  }
}




.digg_pagination {
  font-size: 0.7em;
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #52489C;
    color: white;
    border: 1px solid #52489C; }
  .digg_pagination a {
    text-decoration: none;
    color: #52489C;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #52489C; }
  .digg_pagination .page_info {
    background: #52489C;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

