// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post-panel {
  box-shadow: 4px 4px 2px #e7e7e7;
  color: #777;
  h4 {
    display: inline;
  }
  h5 {
    float:right;
    margin: 0px;
    margin-top: 2px;
    display: inline;
    letter-spacing: 2px;
  }
  p {
    text-align: left;
    margin-top: 5px;
  }
}

#post-panel-image {
  margin-bottom: 10px;
  width: 100%;
  height: 80%;
  border-radius: 4px;
}

#post-index-image {
  width: 100%;
  height: 300px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.search-bar {
  box-shadow: 3px 3px 2px #e7e7e7;
  text-align:center;
  padding: 10px;
  .form-group {
    margin-bottom:0px;
    margin: 5px;
  }
  .btn-success {
    margin: 5px;
    width: 100%;
  }
}

.gallery-image {
  margin-bottom: 10px;
  h5 {
    display: inline;
    margin: 0px;
    margin-left: 20px;
  }
  h6 {
    display: inline;
    float:right;
    margin: 0px;
    margin-top: 3px;
    margin-right: 20px;
    letter-spacing: 1px;
  }
  .panel {
    box-shadow: 2px 2px 1px #e7e7e7;
  }
  .panel-body {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px
  }
}