<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta property="og:title" content="*|MC:SUBJECT|*">
  <title>*|MC:SUBJECT|*</title>
  <style type="text/css">
    p {
      font-family: 'Varela Round', sans-serif;
    }
    a {
      font-family: 'Varela Round', sans-serif;
      color: #E56399;
    }

  </style>
</head>
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">

<body>
  <div>
    <p>Hi,</p>
    <p>Someone has requested a link to change your password. You can do this through the link below.</p>

    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>
  </div>
</body>
</html>